.fontSerif{
    font-family: 'Times New Roman';
    font-size: 5em;
}

.fonteSans-Serif{
    font-family: 'Verdana';
    font-size: 2.5em;
}

.fontMonospace{
    font-family: 'Courier New';
    font-size: 1.25em;
}

.conteudo{
    font-size: 30px;
}